@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Ubuntu:wght@300&family=ZCOOL+XiaoWei&display=swap');
/* font-family: 'Inconsolata',
monospace;
font-family: 'Ubuntu',
sans-serif;
font-family: 'ZCOOL XiaoWei',
serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,p{
    font-family: 'ZCOOL XiaoWei',
            serif;
    color: aliceblue;
    font-size: 20px;
    scroll-behavior: smooth;
    
}


a {
    text-decoration: none;
    color: rgb(245, 221, 70);
  }
section{
    background: url(pexels-paduret-4041750.jpg);
    /* background-color: #000; */
    min-height: 100vh;
    max-width: 200rem;
    position: relative;
    background-size:cover;
    background-attachment: fixed;
    overflow: hidden;  
}

.myFace{
    width: 280px;
    height: 280px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    position: absolute;
    transform: translate(-60%, 0);
    top: 33%;
    left: 17%;
    border:10px solid rgba(41, 255, 248, 0.5) ;
    border-radius: 50%;
    overflow: hidden;
    animation: myFace 4s ease-in-out;
    animation-delay: 0s;
    
}
@keyframes myFace {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Style buttons */
.btn {
    font-family: 'Inconsolata',
    monospace;
    color:cyan;
    background: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    position: absolute;
    top: 32%;
    left: 24%;
    border: none;
    animation: btn 4s ease-in-out;
    animation-delay: 0s;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 25px;
  }

  .myEmail {
    font-family: 'Inconsolata',
    monospace;
    color:rgb(205, 254, 255);
    background: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    position: absolute;
    top: 38%;
    left: 24%;
    border: none;
    animation: btn 4s ease-in-out;
    animation-delay: 0s;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 25px;
}

.weblink {
    font-family: 'Inconsolata',
    monospace;
    color:rgb(255, 252, 56);
    background: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    position: absolute;
    top: 38%;
    left: 73%;
    border: none;
    animation: btn 4s ease-in-out;
    animation-delay: 0s;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 25px;
}




  @keyframes btn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }}
  
    

.scroll-Down{
    width: 60px;
    height: 100px;
    position: absolute;
    border: 4px solid rgba(41, 255, 248, 0.5);
    border-radius: 50px;
    transform: translate(-50%, 0);
    top: 82%;
    left: 50%;
    cursor: pointer;
}
.scroll-Down::before,
.scroll-Down::after{
    content:'';
    position:absolute;
    transform: translate(-50%, 0);
    top: 16px;
    left: 50%;
    border: 5px solid rgba(41, 255, 248, 0.5);
    border-radius: 40%;
    height: 22px;
    width: 8px;   
    animation: scroll-Down 1s linear infinite;
}
@keyframes scroll-Down{
    0%{opacity: 0;}
    30%{opacity: 1;}
    60%{opacity: 1;}
    100%{opacity: 1; top: 32%;}
}


h1{
    font-family: 'Inconsolata',
    monospace;
    color:rgb(249, 242, 232);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    position: relative;
    font-size: 50px;
    padding-bottom: 1.5em;
    transform:translate(40%,35%);
    /* animation: glow 0.80s ease-in-out infinite alternate-reverse; */
    /* text-shadow: 0 0 10px #fff,
                0 0 20px #fff,
                0 0 40px #fff,
                0 0 80px #fff,
                0 0 120px #fff,
                0 0 160px #fff, */
}

h2{
    font-family: 'Inconsolata',
    monospace;
    font-size: 25px;
    padding: 20px;
    color:rgb(249, 242, 232);
    
}

.title{
    font-family: 'Inconsolata',
monospace;
font-size: 30px;
background-color:rgba(52, 199, 194, 0.24);
border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));    
    position: absolute;
    top: 45%;
    left: 25%;
    overflow: hidden;
    animation: title 4s ease-in-out;
    animation-delay: 0s;
}
@keyframes title {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#sec-1{
    min-height: 580vh;
    max-width: 200rem;
}
#sec-2{
    min-height: 800vh;
    max-width: 200rem;
}

.container{
    min-height:60vh;
    max-width: 200rem;
    position:relative;
    display:inline-block;
    justify-content: center;
    align-items: center;
    transform: translate(15%, 30%);
    flex-direction:column;
    padding: 10px,0;
    transform-style: preserve-3d;
}
.container .box{
    position: relative;
    left: 10%;
    width: 850px;
    height: 500px;
    background-color: rgba(250, 255, 255, 0.087);
    border:10px solid rgba(255, 255, 255, 0.454);   
    border-radius: 10px;
}

.container .box .imgBx{
    position: absolute;
    top: 20%;
    left: 10%;   
    transform: translate(-50,0);
}
img{
    width: 600px;
    height: 320px;
    object-fit: cover;
    transform: scale(1.15);
}
.container .box .contentBx{
    position: absolute;
    top: -15%;
    right: -40%;
    text-align: center;
    border: 5px solid rgba(217, 255, 254,0.7);
    border-radius: 50px;
    background-color: rgba(95, 238, 254, 0.322);
    transform: translateZ(20px) scale(0);
    padding: 15px 15px;
    transform-origin: top;
    transition: 0.5s;
    
}
.container .box:hover .contentBx{
    transform: translateZ(50px) scaleY(1);
}

.gallery{
    width: 85%;
    height: 20vh;
    max-width: 1600px;
    max-height: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 8px 6px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gallery-image{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 1em;
    width: 30%;
    height: calc(80% - 40px);
    min-width: 300px;
    min-height: 150px;
    margin: 15px;
    overflow: hidden;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s;
}

/* popup */

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 80%;
    max-width: 1600px;
    height: 90vh;
    max-height: 800px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    transition: .2s;
    opacity: 0;
}

.popup.active{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup.active .close-btn,
.popup.active .image-name,
.popup.active .index,
.popup.active .large-image,
.popup.active .arrow-btn{
    opacity: 1;
    transition: opacity .5s;
    transition-delay: 1s;
}

.top-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
}

.image-name{
    opacity: 0;
}

.close-btn{
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(255, 32, 12);
    cursor: pointer;
}

.arrow-btn{
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
}

.left-arrow{
    left: 10px;
}

.right-arrow{
    right: 10px;
    transform: translateY(-50%) rotate(180deg);
}

.arrow-btn:hover{
    background: rgba(0, 0, 0, 0.5);
}

.index{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 50px;
    font-weight: 20px;
    color: rgba(255, 255, 255, 0.4);
    opacity: 0;
}

.large-image{
    margin-top: 5% 20px 8%;
    width: 80%;
    height: 80%;
    object-fit: contain;
    opacity: 0;
}

@keyframes glow {
    0% {
        text-shadow:
            0 0 4px #fff,
            0 0 10px #fff,
            0 0 18px #fff,
            0 0 38px #fff,
            0 0 73px #ffc934,
            0 0 80px #ffc934,
            0 0 94px #ffc934,
            0 0 140px #ffc934;
    }

    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #ffc934,
            0 0 80px #ffc934,
            0 0 90px #ffc934,
            0 0 100px #ffc934,
            0 0 150px #ffc934;
    }}